# Treat Blade as PHP
*.blade.php linguist-language=PHP

# Ignore frontend from language stats
/frontend/* linguist-vendored

# Ignore vendor stuff
/backend/vendor/* linguist-vendored
/node_modules/* linguist-vendored
